<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Mike Sturm - Wordsmith</title>

    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="{{ site.baseurl }}font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://www.mikesturm.net/Skeleton/images/Alchemical.png" />
    <link href="https://fonts.googleapis.com/css?family=Karla:700|Libre+Franklin|Montserrat|Roboto" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          <h1 class="title"><a href="/">Mike Sturm</a></h1>
        

        <ul>
          <li><a href="{{ site.baseurl }}blog"><strong>Blog</strong></a></li>
          <li><a href="{{ site.baseurl }}recommended-reading"><strong>Reading List</strong></a></li>
          <li><a href="{{ site.baseurl }}contact"><strong>Contact</strong></a></li>
        </ul>



      </header>
      <section>

          {{ content }}

      </section>
      <footer>

          <p class="view">Subscribe to my newsletter. I won't bother you often.</p>
          <form style="text-align:center;" action="https://tinyletter.com/mike_sturm" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mike_sturm', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" placeholder="email address" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>
        <br>
            <strong>Elsewhere on the Web</strong>
            <br>
              <button type="button"><a href="https://twitter.com/aperfectsturm">Read short bits <i class="fa fa-twitter" aria-hidden="true"></i></a></button>
              <button type="button"><a href="https://medium.com/@mikesturm">Read longform <i class="fa fa-medium" aria-hidden="true"></i></a></button>
              <button type="button"><a href="mailto:mike@yourfool.com">Contact Me <i class="fa fa-envelope" aria-hidden="true"></i></a></button>
          <br>
        <p><small>Copyright 2016 &mdash; All rights reserved.</small></p>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
